@font-face {
    font-family: icomoon;
    font-display: swap;
    src: url(./fonts/icomoon.woff) format("woff"), url(./fonts/icomoon.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Inter-Black;
    font-display: swap;
    src: url(./fonts/Inter-Black.woff) format("woff"), url(./fonts/Inter-Black.woff2) format("woff2");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: Inter-Bold;
    font-display: swap;
    src: url(./fonts/Inter-Bold.woff) format("woff"), url(./fonts/Inter-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Lato-Bold;
    font-display: swap;
    src: url(./fonts/Lato-Bold.woff) format("woff"), url(./fonts/Lato-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Lato-Light;
    font-display: swap;
    src: url(./fonts/Lato-Light.woff) format("woff"), url(./fonts/Lato-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Lato-Medium;
    font-display: swap;
    src: url(./fonts/Lato-Medium.woff) format("woff"), url(./fonts/Lato-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Lato-Regular;
    font-display: swap;
    src: url(./fonts/Lato-Regular.woff) format("woff"), url(./fonts/Lato-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto-Black;
    font-display: swap;
    src: url(./fonts/Roboto-Black.woff) format("woff"), url(./fonts/Roboto-Black.woff2) format("woff2");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: Montserrat-Bold;
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w9aXp-p7K4KLjztg.woff2) format('woff2');
}

@font-face {
    font-family: Montserrat-Regular;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXp-p7K4KLjztg.woff2) format('woff2');
}

@font-face {
    font-family: Montserrat-Solid;
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
}


/* FONT FAMILY */

.font-family-montserrat {
    font-family: 'Montserrat-Regular';
}

.font-family-Montserrat600 {
    font-family: 'Montserrat-Solid';
}

.font-family-Lato500 {
    font-family: 'Lato-Medium';
}

.font-family-Lato700 {
    font-family: 'Lato-Bold';
}

.font-family-Inter700 {
    font-family: 'Inter-Bold';
}


/* FONT_SIZE */

.size-14 {
    font-size: 14px;
}

.size-18 {
    font-size: 18px;
    line-height: 24px;
}

.size-20 {
    font-size: 20px;
    line-height: 28px;
}

.size-24 {
    font-size: 24px;
    line-height: 32px;
}

.size-40 {
    font-size: 40px;
    line-height: 50px;
}

.size-48 {
    font-size: 48px;
    line-height: 56px;
}


/* DESIGN */

.shadow {
    position: relative;
    z-index: 1;
}

.shadow::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
}

.text-white {
    color: white;
}

.color121212 {
    color: #121212;
}

.color313131 {
    color: #313131;
    opacity: 0.8;
}

.color212121 {
    color: #212121;
}

.colorBDBDBD {
    color: #BDBDBD;
}


/* COMMON PART */

.d-flex {
    display: flex;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.space_between {
    display: flex;
    justify-content: space-between;
}


/* MAINN CONTENT */

h1 {
    font-family: Inter-Black;
    font-weight: 900;
    font-size: 64px;
    margin: 0;
    line-height: 64px;
}

body {
    margin: 0;
    font-family: 'Lato-Regular';
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
}

blockquote {
    font-family: 'Lato-Light';
    color: #DEDEDE;
    margin: 0;
    line-height: 20px;
}


/* CIRCLE */

.circle {
    border-radius: 50%;
    border: 1px solid white;
    height: 64px;
    width: 64px;
    background-color: transparent;
    cursor: pointer;
}

.circle-small {
    width: 38px;
    height: 38px;
}


/* MARGIN */

.mr-2 {
    margin-right: 16px;
}


/* GALLERY ITEMS */

.gallery_item_active {
    width: 320px;
    height: 320px;
}

.gallery_item {
    width: 282px;
    height: 282px;
    margin-left: 32px;
}

.gallery_caption {
    position: absolute;
    font-size: 14px;
    font-family: 'Lato-Bold';
    color: white;
    bottom: 24px;
    left: 14px;
}

.gallery_caption_item {
    bottom: 16px;
}

.gallery_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery_gradient::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 43%;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: linear-gradient(179.37deg, #000000 1.87%, rgba(0, 0, 0, 0.572235) 58.73%, rgba(0, 0, 0, 0) 94.86%);
}

.gallery_caption_description {
    font-size: 14px;
    font-family: 'Lato-Regular';
    color: #BDBDBD;
}

button:disabled {
    opacity: 0.5;
}


/* POINTER */

.pointer {
    position: absolute;
    border-radius: 50%;
    border: 3px solid #6C6C6C;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 39px;
    top: 68px;
}

.pointer_center {
    border-radius: 50%;
    background-color: #F47648;
    width: 16px;
    height: 16px;
}

.dashed_strip {
    position: absolute;
    left: 23px;
    top: 90px;
    z-index: 3;
}