@media screen and (max-width: 992px) {
  .main {
    background-image: url(main_page/background_mobile.png);
    background-size: cover;
    background-position: bottom;
  }
  .main__header {
    padding: 35px 40px 88px;
  }
  .main__menu {
    display: none;
  }
  .main__menu_button {
    margin-right: 29px;
  }
  .main__menu_hamburger {
    border: none;
    background: transparent;
    display: block;
  }
  .main__items_text {
    padding-left: 40px;
  }
  .main__block_space {
    display: none;
  }
  .main__content {
    flex-direction: column;
    padding-left: 41px;
    padding-bottom: 42px;
    margin-top: 32px;
  }
  .main__gallery_navigation {
    padding-top: 55px;
  }
  .main__items_icone_delete {
    display: none;
  }
  .main__items_icone {
    justify-content: end;
    padding-top: 100px;
    padding-right: 47px;
    display: flex;
  }
  /* SECTION 2 */
  .section2 {
    padding: 64px 40px;
  }
  .section2__background {
    background-position-x: -244px;
    background-position-y: 65px;
  }
  .section2_background-text {
    left: 156px;
    top: 6px;
  }
  .section2__airplane {
    right: -268px;
    bottom: 310px;
  }
  .section2_content_icon_container:not(:last-of-type) {
    margin-right: 45px;
  }
  .section2__text-container {
    margin-top: 344px;
  }
  /* SECTION 3 */
  .section3 {
    display: block;
    padding: 38px 40px 35px;
    background-color: black;
    background-image: none;
    height: inherit;
  }
  .section3::before {
    display: none;
  }
  .pointer {
    display: none;
  }
  .dashed_strip {
    display: none;
  }
  .section3_text_container {
    max-width: none;
    padding-bottom: 48px;
    margin-right: 0;
  }
  .section3_gallery_position {
    padding-top: 0;
    margin-bottom: 154px;
  }
  .section3__clouds {
    left: -124px;
  }
  /* SECTION 4 */
  .section4 {
    padding: 46px 40px 134px;
  }
  .section4_container {
    margin-bottom: 31px;
  }
  .section4_gallery_text {
    flex-direction: column-reverse;
  }
  .section4_gallery_position {
    margin-left: 0;
    margin-top: 48px;
  }
  .section4_picture {
    right: -276px;
    top: 170px;
  }
  .section4_picture img {
    width: 1158px;
    height: 507px;
  }
  .section4_secondary_text {
    max-width: 433px;
  }
  .section4_secondar-text_position {
    padding-top: 0px;
    margin-left: 0px;
    padding-right: 0;
  }
  .section4_secondary_text_mobile {
    max-width: 301px;
  }
  .gallery_buttons_right {
    left: 0;
  }
  /* SECTION 5 */
  .section5 {
    padding: 80px 40px;
  }
  .section5_cards {
    flex-wrap: wrap;
  }
  .cards {
    margin-top: 36px;
  }
  .section5_main-text {
    margin-bottom: 12px;
  }
  /* SECTION 6 */
  .section6 {
    flex-direction: column-reverse;
    padding: 64px 40px 131px;
    background-position-x: -440px;
    background-size: 1600px;
  }

  .section6_text_container {
    width: 100%;
  }
  .section6_gallery_position {
    flex-direction: row-reverse;
    margin-left: 0;
    padding-top: 48px;
  }
  .section6_buttons_black {
    display: none;
  }
  .section6_buttons_white {
    display: flex;
  }
  .section6 .gallery_item_active {
    margin: 0;
  }
}

@media (min-width: 572px) and (max-width: 992px) {
  .cards {
    width: 324px;
    height: 420px;
  }
  .section6_eagle_mobile {
    display: block;
  }
}

@media screen and (max-width: 572px) {
  .main__header {
    padding: 21px 18px 64px 16px;
  }
  .main__menu_button {
    display: none;
  }
  .main__items_text {
    padding-left: 16px;
  }
  .main__content {
    padding-left: 16px;
  }
  .circle_mobile {
    width: 48px;
    height: 48px;
  }
  .main__items_text_header {
    font-size: 48px;
    line-height: 48px;
  }
  .main__items_icone {
    padding-right: 16px;
  }
  .main__items_text_date {
    font-size: 18px;
    line-height: 24px;
    padding: 16px 24px;
  }
  .main__items_small_text {
    padding-right: 25px;
  }
  .main__secondary_text {
    font-size: 18px;
    width: inherit;
  }
  .main_gallery_item {
    margin-left: 16px;
  }
  /* SECTION 2 */
  .section2 {
    padding: 48px 16px;
  }
  .section2__background {
    background-position-x: -393px;
    background-position-y: 95px;
  }
  .section2__content_hero {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 40px;
  }
  .section2__content_caption {
    font-size: 20px;
    line-height: 32px;
  }
  .section2_background-text {
    display: none;
  }
  .section2__content_text {
    margin-bottom: 27px;
  }
  .section2_icons {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section2_content_icon_container:not(:last-of-type) {
    margin-right: 0px;
  }
  .section2_content_icon_container {
    flex-basis: 50%;
    margin-top: 21px;
  }
  .section2__airplane {
    left: -4px;
    top: -260px;
  }
  .section2__airplane img {
    width: 568px;
    height: 231px;
  }
  .section2__text-container {
    margin-top: 237px;
  }
  .section2__text-container_secondary {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 19px;
  }
  /* SECTION 3 */
  .section3 {
    padding: 0 16px 182px;
  }
  .section3_text_container {
    margin-right: 0;
  }
  .section3_gallery_position {
    margin-bottom: 0;
  }
  .day-title {
    font-size: 24px;
    line-height: 32px;
  }
  .gallery_image {
    width: 288px;
  }
  /* SECTION 4  */
  .section4 {
    padding: 15px 16px 118px;
  }
  .section4_day-title_position {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
  .section4_picture img {
    width: 704px;
    height: 308px;
  }
  .section4_picture {
    right: -158px;
    top: 344px;
  }
  .section4_secondary_text {
    margin-bottom: 178px;
  }
  .section4_gallery_position {
    margin-top: 24px;
  }

  /* SECTION 5 */
  .section5 {
    padding: 40px 16px;
  }
  .section5_cards {
    justify-content: center;
  }
    /* SECTION 6 */
    .section6 {
        padding: 48px 16px 112px;
    }
    .section6_day-title_position {
        margin-bottom: 24px;
    }
    .section6_gallery_position {
        padding-top: 24px;
    }
    .gallery_item_active img {
        width: 288px;
        height: 288px;
    }

}
